@{
    ViewData["Title"] = "Home Page";
}

<div class="carousel-container">
    <div class="carousel slide" data-bs-ride="carousel" id="slider1">
        <ol class="carousel-indicators">
            <li data-bs-target="#slider1" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#slider1" data-bs-slide-to="1"></li>
            <li data-bs-target="#slider1" data-bs-slide-to="2"></li>
            <li data-bs-target="#slider1" data-bs-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item-container">
                <div class="carousel-item-images">
                    <div class="carousel-images-wrapper">
                        <div class="carousel-item active" data-bs-interval="4000">
                            <a href="#" class="carousel-bg-images">
                                <img src="https://img2.wtftime.ru/store/2020/01/28/I1YKzqoM.jpg"
                                     class="carousel-bg-img" alt="carousel-bg-images">
                            </a>
                            <a href="#" class="carousel-images">
                                <img src="https://i.pinimg.com/736x/4f/bf/62/4fbf62e64a7f63c8a01ea257fea405dc--book-cover-art-book-covers.jpg"
                                     class="carousel-img" alt="Hobbit">
                            </a>
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <a href="#" class="carousel-bg-images">
                                <img src="https://catherineasquithgallery.com/uploads/posts/2021-02/1614438700_57-p-temnii-fon-noch-64.jpg"
                                     class="carousel-bg-img" alt="carousel-bg-images">
                            </a>
                            <a href="#" class="carousel-images">
                                <img src="https://pbs.twimg.com/media/DumG1jaWsAE0vcH.jpg" class="carousel-img"
                                     alt="Hobbit">
                            </a>
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <a href="#" class="carousel-bg-images">
                                <img src="https://cdn.culture.ru/images/109fc77e-a24f-5fb0-88b7-1f480749ba66"
                                     class="carousel-bg-img" alt="carousel-bg-images">
                            </a>
                            <a href="#" class="carousel-images">
                                <img src="https://ornekkitap.blob.core.windows.net/images/book/cover/600x800/ZUVI0RDO69.png"
                                     class="carousel-img" alt="Hobbit">
                            </a>
                        </div>
                        <div class="carousel-item" data-bs-interval="4000">
                            <a href="#" class="carousel-bg-images">
                                <img src="https://w-dog.ru/wallpapers/9/11/531622032320112/skaly-kanon-kamni-pustynya-nebo-oblaka.jpg"
                                     class="carousel-bg-img" alt="carousel-bg-images">
                            </a>
                            <a href="#" class="carousel-images">
                                <img src="https://www.grafika.az/uploads/product/small/2020-05-06-23-50-211588794621.jpg"
                                     class="carousel-img" alt="Hobbit">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#slider1" class="carousel-control-prev" data-bs-slide="prev" title="prev">
            <span class="carousel-control-prev-icon bg-success p-4"></span>
        </a>
        <a href="#slider1" class="carousel-control-next" data-bs-slide="next" title="next">
            <span class="carousel-control-next-icon bg-success p-4"></span>
        </a>
    </div>
</div>
<div class="section-padding about mt-5">
    <div class="about-me">
        <div class="about-me-container d-flex justify-content-center align-items-center">
            <div class="about-images-container">
                <div class="about-image">
                    <img src="/site/images/lev-tolstoy.jpg" class="about-img" alt="">
                </div>
            </div>
            <div class="about-info-container p-5">
                <span class="about-title text-dark">
                    <q>
                        Biliklərin çoxluğu yox, keyfiyyəti
                        əhəmiyyətlidir. Çox şey bilən, ən lazımlı şeyləri bilməyə bilər.
                    </q>
                    <span class="d-block mt-3 fw-bold fs-2 text-dark text-capitalize">
                        -lev tolstoy
                    </span>
                </span>
                <span class="about-text nav-link-style text-dark mt-5">
                    <span class="nav-link-style text-dark d-block mt-5 mb-5 fs-1 fw-bold">
                        Bu sayt nə üçün var
                        ?
                    </span>
                    Bu sayt kitabların PDF şəklində pulsuz oxunulması üçün yaradılmışdır.
                    Eyni zamanda kitabların təqdimatı ən çox oxunan əsərlər , əsərlərdən motivlər
                    və müəlliflərin həyatı haqqında məlumatlar ala bilərsiniz.Kitabları oxumaq üçün,
                    Çox Oxunanlar bölməsinə gələrək,bir kitab seçin və "Davamını Oxu" buttonuna click
                    edərək seçdiyiniz kitabı oxumağa başlayın.
                </span>
            </div>
        </div>
    </div>
</div>
<div class="section-padding">
    <h2 class="title nav-link-style text-capitalize d-flex fs-1 justify-content-center">çox oxunanlar</h2>
    <span class="nav-link-style d-flex fs-4 fw-bold justify-content-center">
        Ən çox oxunulan və bəyənilən PDF-lər
    </span>
</div>
<div class="card-container">
    <div class="card-info">
        <div class="card-info-container rounded mx-3 mb-5">
            <div class="card-carousel" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <a href="#" class="carousel-item active carousel-image-container" data-bs-interval="3000">
                        <img src="https://i.pinimg.com/736x/10/c9/50/10c9507a0cafbd25dddbacc0e9abb386--hobbit-book-the-hobbit.jpg"
                             class="card-img" alt="hobbit">
                    </a>
                    <a href="#" class="carousel-item carousel-image-container" data-bs-interval="3000">
                        <img src="https://img.elephantjournal.com/wp-content/uploads/2012/12/pbbc063012.jpg"
                             class="card-img" alt="hobbit">
                    </a>
                    <a href="#" class="carousel-item carousel-image-container" data-bs-interval="3000">
                        <img src="https://i.pinimg.com/originals/ca/c3/ca/cac3ca6bdc282f083cf49d44e7b4d7df.jpg"
                             class="card-img" alt="hobbit">
                    </a>
                    <a href="#" class="carousel-item carousel-image-container" data-bs-interval="3000">
                        <img src="https://u.livelib.ru/reader/Scout_Alice/o/lqnqziiw/o-o.jpeg" class="card-img"
                             alt="hobbit">
                    </a>
                    <a href="#" class="carousel-item carousel-image-container" data-bs-interval="3000">
                        <img src="https://scientificrussia.ru/images/x/12dx-full.jpg" class="card-img"
                             alt="hobbit">
                    </a>
                </div>
            </div>
            <div class="card-body p-3">
                <div class="card-text-wrapper">
                    <span class="card-text fs-5 fw-bold">
                        Bilbo Baggins’in Gandalf tarafından hiç beklemediği bir anda
                        evine gelen 13 cüce ile değişen hayatı, Orta Dünya’nın kaderini değiştirecek olan Tek
                        Yüzük’ün bulunuşu, ulu ejder Smaug’un öldürülüşü ve kadim cüce kenti Erebor’un kurtuluşu
                        anlatılmaktadır.
                    </span>
                </div>
                <span class="author fs-4 fw-bold text-dark text-capitalize d-block p-3 px-0">
                    müəllif :
                    <span class="author-name text-capitalize text-dark fs-5 fw-normal">J. R. R. Tolkien</span>
                </span>
                <span class="book-info text-capitalize text-dark fs-4 fw-bold d-block p-3 px-0">
                    kitabın adı :
                    <span class="book-name text-capitalize text-dark fs-5 fw-normal">hobbit</span>
                </span>
                <span>
                    <a href="#" class="text-decoration-none">
                        <button class="bg-success card-btn d-block rounded text-capitalize text-white fs-4 p-2 w-100">
                            davamını oxu
                        </button>
                    </a>
                </span>
            </div>
        </div>
        <div class="card-info-container rounded mx-3 mb-5">
            <div class="card-carousel" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <a href="#" class="carousel-item active carousel-image-container" data-bs-interval="3000">
                        <img src="https://cdn.1000kitap.com/resimler/kitaplar/427186_c65ec_1544473070.jpg"
                             class="card-img" alt="charles dickens">
                    </a>
                    <a href="#" class="carousel-item carousel-image-container" data-bs-interval="3000">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Charles_Dickens%2C_Woodburytype.jpg/1200px-Charles_Dickens%2C_Woodburytype.jpg"
                             class="card-img" alt="charles dickens">
                    </a>
                    <a href="#" class="carousel-item carousel-image-container" data-bs-interval="3000">
                        <img src="https://allya.ru/wp-content/uploads/2020/02/CD-2-e1439216179202.jpg"
                             class="card-img" alt="charles dickens">
                    </a>
                </div>
            </div>
            <div class="card-body p-3">
                <div class="card-text-wrapper">
                    <span class="card-text fs-5 fw-bold">
                        Dr. Manette, suçsuz bir şekilde 18 yıl hapis yatmış ve bir arkadaşı sayesinde hapisten
                        çıkmıştır. Dr. Manette, Londra’ya dönüşü sırasında şans eseri bir Fransız olan Charles
                        Darnay ile tanışır. Kitapta, Charles Darnay ile kızının...
                    </span>
                </div>
                <span class="author fs-4 fw-bold text-dark text-capitalize d-block p-3 px-0">
                    müəllif :
                    <span class="author-name text-capitalize text-dark fs-5 fw-normal">charles dickens</span>
                </span>
                <span class="book-info text-capitalize text-dark fs-4 fw-bold d-block p-3 px-0">
                    kitabın adı :
                    <span class="book-name text-capitalize text-dark fs-5 fw-normal">İki Şehrin Hikayesi </span>
                </span>
                <span>
                    <a href="#" class="text-decoration-none">
                        <button class="bg-success card-btn d-block rounded text-capitalize text-white fs-4 p-2 w-100">
                            davamını oxu
                        </button>
                    </a>
                </span>
            </div>
        </div>
        <div class="card-info-container rounded mx-3 mb-5">
            <div class="card-carousel" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <a href="#" class="carousel-item active carousel-image-container" data-bs-interval="3000">
                        <img src="https://bookaudio.online/uploads/images/media/762/HceiqtXKKrAZQIuj-ten-little-indians.jpg"
                             class="card-img" alt="agatha christie">
                    </a>
                    <a href="#" class="carousel-item carousel-image-container" data-bs-interval="3000">
                        <img src="https://i1.wp.com/bookmarkforlag.se/wp-content/uploads/2017/09/AgathaChristie_AngusMcBean-e1547732453350.jpg"
                             class="card-img" alt="agatha christie">
                    </a>
                    <a href="#" class="carousel-item carousel-image-container" data-bs-interval="3000">
                        <img src="https://i.pinimg.com/736x/a4/c6/00/a4c6003d3147b37e21721cf2f9608613--agatha-christie-writers.jpg"
                             class="card-img" alt="agatha christie">
                    </a>
                    <a href="#" class="carousel-item carousel-image-container" data-bs-interval="3000">
                        <img src="https://pbs.twimg.com/media/DumG1jaWsAE0vcH.jpg" class="card-img"
                             alt="agatha christie">
                    </a>
                </div>
            </div>
            <div class="card-body p-3">
                <div class="card-text-wrapper">
                    <span class="card-text fs-5 fw-bold">
                        On kişi, geçmişte verdikleri kararlar yüzünden insanların ölümüne sebep olmuşlardır ve
                        bunu sır gibi saklarlar. Bir bu on kişi Zenci Adası’nda bulunan bir malikaneye davet
                        edilir. Ancak malikaneye gittiklerinde ev sahibi ortalarda yoktur...
                    </span>
                </div>
                <span class="author fs-4 fw-bold text-dark text-capitalize d-block p-3 px-0">
                    müəllif :
                    <span class="author-name text-capitalize text-dark fs-5 fw-normal">agatha christie</span>
                </span>
                <span class="book-info text-capitalize text-dark fs-4 fw-bold d-block p-3 px-0">
                    kitabın adı :
                    <span class="book-name text-capitalize text-dark fs-5 fw-normal">on küçük zenci</span>
                </span>
                <span>
                    <a href="#" class="text-decoration-none">
                        <button class="bg-success card-btn d-block rounded text-capitalize text-white fs-4 p-2 w-100">
                            davamını oxu
                        </button>
                    </a>
                </span>
            </div>
        </div>
        <div class="card-info-container rounded mx-3 mb-5">
            <div class="card-carousel" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <a href="#" class="carousel-item active carousel-image-container" data-bs-interval="3000">
                        <img src="https://i.pinimg.com/originals/9c/d4/5e/9cd45e9a19a5b72256f493ee59904bc1.jpg"
                             class="card-img" alt="J. R. R. Tolkien">
                    </a>
                    <a href="#" class="carousel-item carousel-image-container" data-bs-interval="3000">
                        <img src="https://www.tolkienguide.com/uploads/newbb/1_5b5cc13d2ff58.jpg"
                             class="card-img" alt="J. R. R. Tolkien">
                    </a>
                    <a href="#" class="carousel-item carousel-image-container" data-bs-interval="3000">
                        <img src="https://www.wallofcelebrities.com/celebrity/j-r-r-tolkien/pictures/original/j-r-r-tolkien_1462285.jpg"
                             class="card-img" alt="J. R. R. Tolkien">
                    </a>
                    <a href="#" class="carousel-item carousel-image-container" data-bs-interval="3000">
                        <img src="https://www.mirf.ru/wp-content/uploads/2018/04/LOTR_book_covers-1900x1044_c.jpg"
                             class="card-img" alt="J. R. R. Tolkien">
                    </a>
                </div>
            </div>
            <div class="card-body p-3">
                <div class="card-text-wrapper">
                    <span class="card-text fs-5 fw-bold">
                        hikaye Orta Dünya’nın kuzeybatısına kadar uzanırken Hobbitler; Frodo, Sam, Merry ve
                        Pippin’in yanı sıra Hobbitlerin müttefikleri ve yol arkadaşları olan Kuzey Kolcusu
                        Aragorn, Gondor kumandanı Boromir, savaşçı Cüce Gimli, Elf prensi Legolas ve büyücü
                        Gandalf’ın gözünden...
                    </span>
                </div>
                <span class="author fs-4 fw-bold text-dark text-capitalize d-block p-3 px-0">
                    müəllif :
                    <span class="author-name text-capitalize text-dark fs-5 fw-normal"> J. R. R. Tolkien</span>
                </span>
                <span class="book-info text-capitalize text-dark fs-4 fw-bold d-block p-3 px-0">
                    kitabın adı :
                    <span class="book-name text-capitalize text-dark fs-5 fw-normal">Yüzüklerin Efendisi</span>
                </span>
                <span>
                    <a href="#" class="text-decoration-none">
                        <button class="bg-success card-btn d-block rounded text-capitalize text-white fs-4 p-2 w-100">
                            davamını oxu
                        </button>
                    </a>
                </span>
            </div>
        </div>
        <div class="card-info-container rounded mx-3 mb-5">
            <div class="card-carousel" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <a href="#" class="carousel-item active carousel-image-container" data-bs-interval="3000">
                        <img src="https://i.pinimg.com/originals/9c/d4/5e/9cd45e9a19a5b72256f493ee59904bc1.jpg"
                             class="card-img" alt="J. R. R. Tolkien">
                    </a>
                    <a href="#" class="carousel-item carousel-image-container" data-bs-interval="3000">
                        <img src="https://www.tolkienguide.com/uploads/newbb/1_5b5cc13d2ff58.jpg"
                             class="card-img" alt="J. R. R. Tolkien">
                    </a>
                    <a href="#" class="carousel-item carousel-image-container" data-bs-interval="3000">
                        <img src="https://www.wallofcelebrities.com/celebrity/j-r-r-tolkien/pictures/original/j-r-r-tolkien_1462285.jpg"
                             class="card-img" alt="J. R. R. Tolkien">
                    </a>
                    <a href="#" class="carousel-item carousel-image-container" data-bs-interval="3000">
                        <img src="https://www.mirf.ru/wp-content/uploads/2018/04/LOTR_book_covers-1900x1044_c.jpg"
                             class="card-img" alt="J. R. R. Tolkien">
                    </a>
                </div>
            </div>
            <div class="card-body p-3">
                <div class="card-text-wrapper">
                    <span class="card-text fs-5 fw-bold">
                        hikaye Orta Dünya’nın kuzeybatısına kadar uzanırken Hobbitler; Frodo, Sam, Merry ve
                        Pippin’in yanı sıra Hobbitlerin müttefikleri ve yol arkadaşları olan Kuzey Kolcusu
                        Aragorn, Gondor kumandanı Boromir, savaşçı Cüce Gimli, Elf prensi Legolas ve büyücü
                        Gandalf’ın gözünden...
                    </span>
                </div>
                <span class="author fs-4 fw-bold text-dark text-capitalize d-block p-3 px-0">
                    müəllif :
                    <span class="author-name text-capitalize text-dark fs-5 fw-normal"> J. R. R. Tolkien</span>
                </span>
                <span class="book-info text-capitalize text-dark fs-4 fw-bold d-block p-3 px-0">
                    kitabın adı :
                    <span class="book-name text-capitalize text-dark fs-5 fw-normal">Yüzüklerin Efendisi</span>
                </span>
                <span>
                    <a href="#" class="text-decoration-none">
                        <button class="bg-success card-btn d-block rounded text-capitalize text-white fs-4 p-2 w-100">
                            davamını oxu
                        </button>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <span class="d-flex justify-content-center mx-5 mb-5 align-items-center">
        <a href="./daha-cox.html" target="_blank" class="text-decoration-none">
            <button class="bg-success card-btn d-block rounded text-capitalize text-white fs-4 px-5 p-3">
                daha çoxuna bax
            </button>
        </a>
    </span>
</div>
<div class="carousel slide section-padding all-features" id="slider2">
    <h2 class="nav-link-style d-flex fs-1 justify-content-center align-items-center mt-4 mb-4">
        Ən Yaxşı Bədii
        Kitablarımız
    </h2>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="features">
                <div class="features-wrapper">
                    <div class="features-left-container">
                        <img src="https://i.pinimg.com/736x/7d/d9/54/7dd9543c7277b9bcdf0a6ddeda458674.jpg"
                             class="features-img" alt="">
                    </div>
                    <div class="features-right-container">
                        <img src="https://1.bp.blogspot.com/--iMiT9IAfKY/VLfyU4GsCuI/AAAAAAAAESo/qSezpFZuwQg/s1600/En%2Biyi%2Bfantastik%2Bkitap%2Bserileri%2B%23ilk10%2B%2810%29.jpg"
                             class="features-img" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="features">
                <div class="features-wrapper">
                    <div class="features-left-container">
                        <img src="http://1.bp.blogspot.com/-JVBa4HfRyIs/VLfygTuWnxI/AAAAAAAAETE/dlZgs32yCOI/s1600/En%2Biyi%2Bfantastik%2Bkitap%2Bserileri%2B%23ilk10%2B(7).jpg"
                             class="features-img" alt="">
                    </div>
                    <div class="features-right-container">
                        <img src="http://2.bp.blogspot.com/-joFncZCh7_g/VUPYxKZJzwI/AAAAAAAAIqw/XdDVv7AHddM/s1600/Nisan%2Bay%C4%B1%2Bokunan%2Bkitaplar.jpg"
                             class="features-img" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#slider2" class="carousel-control-prev" data-bs-slide="prev" title="prev">
        <span class="carousel-control-prev-icon bg-dark text-white p-4"></span>
    </a>
    <a href="#slider2" class="carousel-control-next" data-bs-slide="next" title="next">
        <span class="carousel-control-next-icon bg-dark text-white p-4"></span>
    </a>
</div>
<div class="carousel slide" data-bs-ride="carousel" id="slider3">
    <div class="carousel-inner">
        <h2 class="nav-link-style d-flex fs-1 justify-content-center align-items-center mt-4 mb-4">
            Çox satılan
            kitablar
        </h2>
        <div class="carousel-item active" data-bs-interval="5000">
            <div class="product-card">
                <div class="product-card-container">
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">34%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">40%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">34%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">40%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">40%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <div class="product-card">
                <div class="product-card-container">
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">34%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">40%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">34%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">40%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">40%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#slider3" class="carousel-control-prev" data-bs-slide="prev" title="prev">
        <span class="carousel-control-prev-icon bg-dark text-white p-4 position-absolute"></span>
    </a>
    <a href="#slider3" class="carousel-control-next" data-bs-slide="next" title="next">
        <span class="carousel-control-next-icon bg-dark text-white p-4 position-absolute"></span>
    </a>
</div>

<div class="carousel slide" data-bs-ride="carousel" id="slider4">
    <div class="carousel-inner">
        <h2 class="nav-link-style d-flex fs-1 justify-content-center align-items-center mt-4 mb-4">
            Beynəlxalq
            ədəbiyyatdan çox satılan
            kitablar
        </h2>
        <div class="carousel-item active" data-bs-interval="3000">
            <div class="product-card">
                <div class="product-card-container">
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">34%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">40%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">34%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">40%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">40%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <div class="product-card">
                <div class="product-card-container">
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">34%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">40%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">34%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">40%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrapper">
                        <div class="product-card-info">
                            <div class="product-card-images">
                                <div class="offer">
                                    <span class="position-absolute top-1 end-0 bg-danger text-white p-3 rounded-circle fs-5">40%</span>
                                </div>
                                <a href="#" class="product-link" title="product">
                                    <img src="https://www.adazing.com/wp-content/uploads/2020/03/stephen-king-116-scaled.jpg"
                                         class="product-img" alt="">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <span class="product-info">
                                    <span class="book-info">Kitabın adı : </span> Pet
                                    SemaTary
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Müəllif : </span>STEPHEN
                                    KING
                                </span>
                                <span class="product-info">
                                    <span class="book-info">Qiymət : </span>
                                    22.99$
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#slider4" class="carousel-control-prev" data-bs-slide="prev" title="prev">
        <span class="carousel-control-prev-icon bg-dark text-white p-4 position-absolute"></span>
    </a>
    <a href="#slider4" class="carousel-control-next" data-bs-slide="next" title="next">
        <span class="carousel-control-next-icon bg-dark text-white p-4 position-absolute"></span>
    </a>
</div>

<div class="carousel slide author-carousel" data-bs-ride="carousel" id="authorslider">
    <div class="carousel-inner">
        <h2 class="nav-link-style d-flex fs-1 justify-content-center align-items-center mt-4 mb-4">
            Seçilmiş Müəllif
        </h2>
        <div class="carousel-item active author-inner" data-bs-interval="5000">
            <div class="author-container">
                <div class="author__block">
                    <div class="author__img">
                        <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/william-wordsworth-8.jpg"
                             alt="">
                    </div>
                    <p class="author__name">William Wordsworth</p>
                </div>
                <div class="author__block">
                    <div class="author__img">
                        <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/william-wordsworth-8.jpg"
                             alt="">
                    </div>
                    <p class="author__name">William Wordsworth</p>
                </div>
                <div class="author__block">
                    <div class="author__img">
                        <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/william-wordsworth-8.jpg"
                             alt="">
                    </div>
                    <p class="author__name">William Wordsworth</p>
                </div>
                <div class="author__block">
                    <div class="author__img">
                        <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/william-wordsworth-8.jpg"
                             alt="">
                    </div>
                    <p class="author__name">William Wordsworth</p>
                </div>
                <div class="author__block">
                    <div class="author__img">
                        <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/william-wordsworth-8.jpg"
                             alt="">
                    </div>
                    <p class="author__name">William Wordsworth</p>
                </div>
                <div class="author__block">
                    <div class="author__img">
                        <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/william-wordsworth-8.jpg"
                             alt="">
                    </div>
                    <p class="author__name">William Wordsworth</p>
                </div>
                <div class="author__block">
                    <div class="author__img">
                        <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/william-wordsworth-8.jpg"
                             alt="">
                    </div>
                    <p class="author__name">William Wordsworth</p>
                </div>
            </div>
        </div>
        <div class="carousel-item author-inner" data-bs-interval="5000">
            <div class="author-container">
                <div class="author__block">
                    <div class="author__img">
                        <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/william-wordsworth-8.jpg"
                             alt="">
                    </div>
                    <p class="author__name">William Wordsworth</p>
                </div>
                <div class="author__block">
                    <div class="author__img">
                        <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/william-wordsworth-8.jpg"
                             alt="">
                    </div>
                    <p class="author__name">William Wordsworth</p>
                </div>
                <div class="author__block">
                    <div class="author__img">
                        <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/william-wordsworth-8.jpg"
                             alt="">
                    </div>
                    <p class="author__name">William Wordsworth</p>
                </div>
                <div class="author__block">
                    <div class="author__img">
                        <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/william-wordsworth-8.jpg"
                             alt="">
                    </div>
                    <p class="author__name">William Wordsworth</p>
                </div>
                <div class="author__block">
                    <div class="author__img">
                        <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/william-wordsworth-8.jpg"
                             alt="">
                    </div>
                    <p class="author__name">William Wordsworth</p>
                </div>
                <div class="author__block">
                    <div class="author__img">
                        <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/william-wordsworth-8.jpg"
                             alt="">
                    </div>
                    <p class="author__name">William Wordsworth</p>
                </div>
                <div class="author__block">
                    <div class="author__img">
                        <img src="https://d2g9wbak88g7ch.cloudfront.net/authorimages/william-wordsworth-8.jpg"
                             alt="">
                    </div>
                    <p class="author__name">William Wordsworth</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#authorslider" class="carousel-control-prev" data-bs-slide="prev" title="prev">
        <span class="carousel-control-prev-icon bg-dark text-white p-4 position-absolute"></span>
    </a>
    <a href="#authorslider" class="carousel-control-next" data-bs-slide="next" title="next">
        <span class="carousel-control-next-icon bg-dark text-white p-4 position-absolute"></span>
    </a>
</div>
